<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/css/bootstrap")
    @Scripts.Render("~/js/bootstrap")
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/jqueryui")
    @Scripts.Render("~/js/angular2")

    <script src="@Html.GetJsCssVersion("~/dist/js/jquery-ui/jquery.ui.touch-punch.min.js")"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
